<style>
*{
box-sizing: border-box;
}

body{transition:font-size .5s;}

body, h1, h2, h3, h4, a, p {
    border: 0 none;
    font-family: Arial;
    font-size: 1.2em;
    margin: 0;
    padding: 0;
    text-decoration: none;

}

h1 {
    border-bottom: 1px dotted;
    font-size: 2em;
    margin: 0;
    padding: 50px 0;
    text-align: center;
	letter-spacing:-2px;
}
h2{
 text-align: center;
padding:10px;
}

h3 {
border-bottom:1px dotted;
padding:4px;
margin:4px;
}

p {
font-size:1em;
padding:19px 0px;}

a:link {
    color: gray;
}
a:visited{color:gray;}
a:hover{color:black;}

#wrapper {
    margin: 0 auto;
    max-width: 1000px;
	min-width: 100px;
	padding:10px;
}

.boxes {
    border-bottom: 1px dotted gray;
    border-top: 1px dotted gray;
    display: inline-block;
    margin: 10px 0;
    width: 100%;
}

.box1 a, .box2 a, .box3 a, .box4 a, .box5 a, .box6  a{
    float: left;
    text-align: center;
    width: 16.66%;
	padding:10px 0;
}
.column1, .column2, .column3, .column4{
width:25%;
float:left;
text-align:center;
}


@media (min-width:400px) and (max-width:900px){
body{font-size:1em;}
.box1 a, .box2 a, .box3 a, .box4 a, .box5 a, .box6 a {
    float: left;
    text-align: center;
    width: 33.33%;
}
.column1, .column2, .column3, .column4{
width:50%;
float:left;
}
}

@media (min-width:0px) and (max-width:400px){
body{font-size:.9em;}
.box1 a, .box2 a, .box3 a, .box4 a, .box5 a, .box6  a{
    float: left;
    text-align: center;
    width: 100%;
}
.column1, .column2, .column3, .column4{
width:100%;
float:left;
}

}

</style>